@font-face {
    font-family: 'the_dolbakbrush';
    src: url('/fonts/thedolbak-brush/thedolbak-brush-webfont.woff')
            format('woff'),
        url('/fonts/thedolbak-brush/thedolbak-brush-webfont.woff2')
            format('woff2'),
        url('/fonts/thedolbak-brush/thedolbak-brush-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

// Typography
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

$ams1: #8f004a;
// $ams1-invert: findColorInvert($ams1);

$ams2: #9c0051;
// $ams2-invert: findColorInvert($ams2);

$primary: $ams1;
// $primary-invert: $ams1-invert;

$link: $ams2;
// $link-invert: $ams2-invert;

$link-focus-border: $ams1;

// $gap: 64px !default;
// $tablet: 769px !default;
// $desktop: 960px + (2 * $gap) !default;
// $widescreen: 1152px + (2 * $gap) !default;
// $fullhd: 1344px + (2 * $gap) !default;
