*,
*:after,
*:before {
    box-sizing: border-box !important;
}
[v-cloak] {
    display: none;
}

html {
    overflow-y: auto !important;
}

//////////////////////////
/* LEADERS */
//////////////////////////

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . ";
}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white;
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
}

// ul.leaders {
//     padding: 0 !important;
// }
// ul.leaders span:first-child:after {
//     content: leader(dotted);
// }

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #363636;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: white;
}

// LAYOUT
.section {
    padding: 80px 20px;
    @media only screen and (max-width: $desktop) {
        padding: 40px 20px;
    }
}

.table td,
.table th {
    vertical-align: middle;
}

.main {
    margin-left: 20%;
    padding: 50px;
    @media only screen and (max-width: $desktop) {
        margin-left: 0;
        padding: 20px;
    }
}

footer {
    padding: 0;
    font-size: 0.75rem;
    color: whitesmoke;
    a {
        color: whitesmoke;
        &:hover {
            color: whitesmoke;
            text-decoration: underline;
        }
    }
}

.mainContent {
    padding: 50px;
    @media only screen and (max-width: $tablet) {
        padding: 10px;
    }
}

// COLUMNS
.columns {
    flex-wrap: wrap;
    .column {
        @media only screen and (max-width: $tablet) {
            margin-left: 0 !important;
            margin-right: 0 !important;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

.is-horizontal-start {
    justify-content: flex-start !important;
}

.is-horizontal-center {
    justify-content: center !important;
}

.is-horizontal-end {
    justify-content: flex-end !important;
}

.is-horizontal-spacearound {
    justify-content: space-around !important;
}

.is-horizontal-extremes {
    justify-content: space-between !important;
    @media only screen and (max-width: $desktop) {
        .column {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

.is-horizontal-evenly {
    justify-content: space-evenly !important;
}

.is-vertical-end {
    align-items: flex-end !important;
}

// NAVBARS
nav.navbar {
    @media only screen and (max-width: $tablet) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.navbar-item img {
    max-height: 100%;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.menu-list ul li {
    margin-top: 0;
    margin-bottom: 0;
}

.menu-label a {
    color: #7a7a7a;
}

#side-menu {
    position: fixed;
    left: -100%;
    width: 20%;
    padding: 50px;
    background-color: white;
    height: 100vh;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    @media only screen and (min-width: $desktop) {
        left: 0;
    }
    @media only screen and (max-width: $desktop) {
        width: 100%;
        z-index: 1;
    }
    &.is-active {
        left: 0;
        transition: left 0.3s ease-in-out;
    }
}

// AVATARS
.avatar,
.avatar-round,
.avatar-round-big {
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        &:before {
            display: block;
            content: "";
            width: 100%;
            padding-top: calc((1 / 1) * 100%);
        }
    }
}
.avatar-round {
    width: 50px;
    height: 50px;
    img {
        border-radius: 50%;
    }
}
.avatar-round-big {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    img {
        border-radius: 50%;
    }
}

.imageContainer {
    max-width: 300px;
}

// MASONRY
.masonryLayout {
    column-count: 3;
    column-gap: 30px;
    @media only screen and (max-width: $desktop) {
        column-count: 2;
        column-gap: 20px;
    }
    @media only screen and (max-width: $tablet) {
        column-count: 1;
    }
}

.masonryLayout_item {
    display: inline-block;
    margin: 0 0 30px;
    width: 100%;
    @media only screen and (max-width: $desktop) {
        margin: 0 0 20px;
    }
}

// PARALLAX SECTIONS
.parallax {
    background-image: url("/uploads/assets/photos/dojo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #8f004a;
}

.px-is-home,
.px-is-presentation,
.px-is-equipe,
.px-is-horaires,
.px-is-tarifs,
.px-is-calendrier,
.px-is-resultats,
.px-is-galerie {
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h1 {
            color: white;
        }
    }
}
.px-is-home {
    height: 70vh;
    text-align: center;
    color: white;
    a {
        color: white !important;
    }
}

.px-is-presentation,
.px-is-equipe,
.px-is-horaires,
.px-is-tarifs,
.px-is-calendrier,
.px-is-resultats,
.px-is-galerie {
    height: 30vh;
}

.px-is-footer {
    height: auto;
}

.field.is-grouped {
    p {
        flex-grow: 1;
    }
}

.m-0 {
    margin: 0 !important;
}

article.content {
    padding: 3rem;
}

// FORMS
.b-radio.radio {
    width: 100%;
    margin-left: 0 !important;
}
.file.is-fullwidth .file-label .file-cta {
    width: 100%;
}
.b-checkbox.checkbox + .checkbox {
    margin-left: 0;
    width: 100%;
}

// TYPOGRAPHY
.has-text-centered {
    * {
        text-align: center;
    }
}

.mainTitle {
    font-family: "the_dolbakbrush";
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    @media only screen and (max-width: $desktop) {
        font-size: 4rem;
    }
    @media only screen and (max-width: $tablet) {
        font-size: 3rem;
    }
}

.subTitle {
    font-family: "the_dolbakbrush";
    font-size: 2rem;
    font-weight: 600;
    @media only screen and (max-width: $tablet) {
        text-align: center;
    }
}

hr {
    height: 1px;
    background-color: $grey-lighter;
}

.border {
    border: solid 1px #dbdbdb;
    // box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    border-radius: 6px;
}

.pre {
    background-color: whitesmoke;
    padding: 0.75em;
}

.field-label .label {
    text-align: left;
}

a.is-underlined:hover {
    text-decoration: underline;
}

// .content ul,
// .content ul li,
// .content p {
//     margin: 0 !important;
// }

form .column {
    @media only screen and (max-width: $tablet) {
        margin-bottom: 0 !important;
    }
}
